<app-loading *ngIf="loadingArtist">
</app-loading>

<div class="row animated fadeIn" *ngIf="!loadingArtist">
    <div class="col-3">
        <img [src]="artista?.images | noimage" class="img-thumbnail img-circle">
    </div>
    <div class="col">
        <h3 class="mt-5">{{artista.name}}</h3>
        <p>
            <a *ngIf="!loadingArtist" class="mt-5" [href]="artista.external_urls.spotify">
                <small>Go to the artist Spotify page</small>
            </a>
        </p>
    </div>
    <div class="col-4 text-right">
        <button routerLink="/search" class="btn btn-danger acomododarButtonBack">
            Get back
        </button>
    </div>
</div>
<div *ngIf="!loadingArtist" class="row animated fadeIn m-5">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Picture</th>
                    <th>Album</th>
                    <th>Song</th>
                    <th>Preview</th>
                </tr>
            </thead>
            <tbody *ngIf="!loadingArtist">
                <tr *ngFor="let cancion of topTracks">
                    <td>
                        <img [src]="cancion?.album.images | noimage" class="img-thumb animated fadeIn">
                    </td>
                    <td>{{cancion.album.name}}</td>
                    <td>{{cancion.name}}</td>
                    <td ><iframe  *ngIf="!loadingArtist" [src]="cancion.id | domseguro" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>